In [1]:
import pandas as pd
import numpy as np

In [2]:
def levenshtein(string1, string2):
    len_x = len(string1) + 1
    len_y = len(string2) + 1
    matrix = np.zeros ((len_x, len_y))
    for x in range(len_x):
        matrix [x, 0] = x
    for y in range(len_y):
        matrix [0, y] = y

    for x in range(1, len_x):
        for y in range(1, len_y):
            if string1[x-1] == string2[y-1]:
                matrix [x,y] = min(
                    matrix[x-1, y] + 1,
                    matrix[x-1, y-1],
                    matrix[x, y-1] + 1
                )
            else:
                matrix [x,y] = min(
                    matrix[x-1,y] + 1,
                    matrix[x-1,y-1] + 1,
                    matrix[x,y-1] + 1
                )
    return (matrix[len_x - 1, len_y - 1])

In [3]:
target = 'Luca'
dataset = pd.read_csv("20210103_hundenamen.csv")
dataset.head(3)

                  HUNDENAME  GEBURTSJAHR_HUND GESCHLECHT_HUND
0                     Ituma              2011               w
1  "Bo" Bendy of Treegarden              2020               m
2     "Bobby" Lord Sinclair              2009               m

In [4]:
dog = dataset[['HUNDENAME']]
dog.head(3)

                  HUNDENAME
0                     Ituma
1  "Bo" Bendy of Treegarden
2     "Bobby" Lord Sinclair

In [5]:
dog = dog.loc[dog.HUNDENAME != 'unbekannt']
dog.head(3)

                  HUNDENAME
0                     Ituma
1  "Bo" Bendy of Treegarden
2     "Bobby" Lord Sinclair

In [6]:
dog['distance'] = dog.apply(lambda x: levenshtein(x['HUNDENAME'],  target), axis=1)
dog = dog.loc[dog.distance <= 1]
dog.head(3)

     HUNDENAME  distance
1842      Cuca       1.0
4628       Lua       1.0
4629       Lua       1.0

In [7]:
dog.HUNDENAME.size

142

In [13]:
dog.HUNDENAME.to_csv("result.csv", index = False)

In [21]:
dog.HUNDENAME.astype(str).values.flatten().tolist()

['Cuca',
 'Lua',
 'Lua',
 'Lua',
 'Lua',
 'Lua',
 'Lua',
 'Luba',
 'Luca',
 'Luca',
 'Luca',
 'Luca',
 'Luca',
 'Luca',
 'Lucas',
 'Luce',
 'Luce',
 'Luce',
 'Lucia',
 'Lucy',
 'Lucy',
 'Lucy',
 'Lucy',
 'Lucy',
 'Lucy',
 'Lucy',
 'Lucy',
 'Lucy',
 'Lucy',
 'Lucy',
 'Lucy',
 'Lucy',
 'Lucy',
 'Lucy',
 'Lucy',
 'Lucy',
 'Lucy',
 'Lucy',
 'Lucy',
 'Lucy',
 'Lula',
 'Lula',
 'Luma',
 'Luma',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Luna',
 'Lupa',
 'Lupa',
 'Lupa',
 'Lupa',
 'Lupa',
 'Yuca']